<%=render "shared/navbar", right_el: "menu", left_el: "search", title: "CATEGORIES"%>
<%# <div class="category-list-container"> %>
    <ul class="category-list d-flex flex-column align-items-center m-auto  p-3">
        <%for a in 0..30 do%>
            <%= render "category/shared/category"%>
        <%end%>
    </ul>
<%# </div> %>
