<div class="h-75 w-100 d-flex justify-content-center align-items-center border border-3">
    <h1 class="auth-title fs-1">Budget App</h1>
</div>
<div>
    <%=link_to "/users/sign_in", class:"link-to-item text-light" do%>
        <button type="button" class="btn btn-primary w-100 p-3 fs-2">
            LOG IN
        </button>
    <%end%>
</div>
<div>
    <%=link_to "/users/sign_up", class:"link-to-item text-light" do%>
        <button type="button" class="btn btn-outline-secondary w-100 p-3 fs-2">SIGN UP</button>
    <%end%>
</div>
