<li class="transaction-item mb-2">
    <h3><%=transaction.name%>: <span class="transaction-price">$<%=transaction.amount%></span></h3>
    <em>
        <i class="bi bi-calendar"></i>
        13 Apr 2014 at 3:00 pm
    </em>
</li>
