<li class="transaction-item mb-2">
    <h3>Transaction 1: <span class="transaction-price">$50</span></h3>
    <em>
        <i class="bi bi-calendar"></i>
        13 Apr 2014 at 3:00 pm
    </em>
</li>
