<div class="category-container bg-light d-flex justify-content-between p-2">
    <div class="img-container">
        <img src="https://cdn-icons-png.flaticon.com/512/781/781760.png" class="img-thumbnail w-100 h-100" alt="icon">
    </div>
    <div class="category-details">
        <h3>
            Shopping and utitlities
        </h3>

        <em>14 April 2014</em>
    </div>

    <div>
        <h4>Total: <br/>
            $100
        </h4>

    </div>
</div>
