<%=render "shared/navbar", right_el: "menu", left_el: "search", title: "CATEGORIES"%>
<%# <div class="category-list-container"> %>
    <ul class="category-list d-flex flex-column align-items-center m-auto  p-3">
        <%@categories.each do |category|%>
            <%=link_to category_path(category), class:"w-100 link-to-item" do%>
                <%= render "categorys/shared/category", category: category%>
            <%end%>
        <%end%>
        <%if @categories.empty?%>
            <p>You don't have any registered category!</p>
         <%end%>
    </ul>
<%# </div> %>
<%=render "shared/add_new", type: "category"%>
